.frame {
  background-color: transparent;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.frame .div {
  height: 223px;
  position: relative;
  width: 173px;
}

.frame .overlap-group {
  background-color: #d9d9d924;
  border-radius: 46px;
  height: 56px;
  left: 0;
  position: absolute;
  top: 0;
  width: 173px;
}

.frame .text-wrapper {
  color: #ffffff;
  font-family: "Jost-Regular", Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  left: 19px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 13px;
}

.frame .ellipse {
  height: 45px;
  left: 114px;
  object-fit: cover;
  position: absolute;
  top: 6px;
  width: 45px;
}

.frame button {
  background-color: #007bff; 
  border: none;
  color: #fff; 
  font-family: "Jost-Regular", Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
  line-height: normal;
  text-align: center;
  cursor: pointer;
  width: 173px;
  height: 40px; 
  border-radius: 4px; 
  margin: 8px 0; 
}

.frame button.log-out {
  background-color: #ff0000; 
}

.frame .span {
  color: #f8f7f7fc;
  font-family: "Jost-Regular", Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0;
}

.frame .text-wrapper-3 {
  font-size: 26px;
}
